<h2>CryptoCurrency APIs</h2>

<ul>
    <li>
        <a href="/country/{{countryName}}/btc">
            CryptoCompare API
        </a>
    </li>
    <li>
        <a href="/country/{{countryName}}/eth">
            Nomics API
        </a>
    </li>
</ul>